@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Trattatello"; 
  src: url("//db.onlinewebfonts.com/t/05289e866fe7e1e99d27a7a31f8d3b66.eot"); 
  src: url("//db.onlinewebfonts.com/t/05289e866fe7e1e99d27a7a31f8d3b66.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05289e866fe7e1e99d27a7a31f8d3b66.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05289e866fe7e1e99d27a7a31f8d3b66.woff") format("woff"), url("//db.onlinewebfonts.com/t/05289e866fe7e1e99d27a7a31f8d3b66.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05289e866fe7e1e99d27a7a31f8d3b66.svg#Trattatello") format("svg"); }
* {
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #353333;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#buttonContainer{
  position:absolute;
  background-color: rgb(67, 69, 67);
  height: 100vh;
  width: 100vw;
  z-index: 5;
  overflow: hidden;
}
#enterButton{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30em;
  position:relative;
  z-index: 1;
}
#nameContainer{
  position:absolute;
  z-index: 6;
}
#nameTitle{
  margin: 0 auto;
  top: 0;
  font-family: "Raleway";
  /* color: rgb(37,116,236); */
  font-size: 50px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	color: #3e3e3e;
	opacity: 0.3;
}
/* #nameTitle::after {
  content: "Stephen O'Marrah";
  display:flex;
  transform:rotateX(180deg);
  background-image:
    linear-gradient(180deg,rgba(37,116,236,.0) 10%,rgba(37,116,236,.5));
  -webkit-background-clip: text;
  color: transparent;
} */
#canvasContainer{
  width: 100%;
  height: 100%;
  z-index: 1;
}
body {
  background: #f0f0f0;
}
.textStyle{
  width: 12rem;
  height: 2.4rem;
  background: rgba(0, 151, 19, 0.3);
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 5px black;
}
#container{
  width: 8rem;
  height: 5rem;
  position:absolute;
  bottom: 15vh;
  left: 5vw;
  opacity: 1;
  transition: all 300ms;
}

.spellBook{
  width: 14rem;
  height: 12rem;
  position:absolute;
  z-index: 2;
}

#container:hover{
  opacity: 1;
}

#spells{
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-family: 'Trattatello', fantasy;
  font-weight:normal;
  font-style:normal;
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 4;
  
}
.spellEffects{
  text-align: center;
  margin: 0 auto;
  padding-bottom: .3rem;
  transition: all 300ms;
  transition-timing-function: ease-in-out;
  opacity: .2;
  
}
.spellEffects:hover{
  color: azure;
  text-shadow:  #fff 0 0 5px, #fcffbb 0 0 8px, #1f1f1d 0 0 5px;
  opacity: 1;
  transform: scale(2.5);
}

#backButton{
  background-color: #818181; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5px;
  }

  .project {
    background-color: #eaeff1;
    font-family: "Raleway", sans-serif;
    height: 150px;
    width: 155px;
    border: 2px solid black;
    overflow: hidden;
  }
  
  #projectContainer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: 20px;
    transform: scale(.20);
    transform-origin: top left;
    overflow: scroll;
    width: max-content;
    height: auto;
    }
  .card:nth-child(n) {
    order: 0;
    align-self: auto;
    /* Change background color */
    background-color: rgba(255, 255, 255, 0.591);
    /* Add border */
    border: 1px solid #767373c1;
    /* Add space between the border and the content */
    padding: 8px;
    border-radius: 12px;
    transition: all ease-in-out 250ms;
    min-width: 97%;
    min-height: 100%;
    overflow: hidden;
    margin: 10px;
  }
  .header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background: #aaaea8;
    position: relative;
    /* width: 155px; */
    padding: 2px;
    font-size: 2px;
    color: white;
  }
.slides{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;

}
.tagContainer{
  height: fit-content;
}
.aboutImg{
  height: auto;
  width:30px;
  border-radius: 50%;
}
.contactForm{
  background: #d1cfcf;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 2px;
    box-shadow: 1px 2px 1px grey;
    width: 80px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
h6 {
  /* padding: 2px; */
  margin:1px;
  font-size: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  text-align: center;
 
}
.headerSelect{
  user-select:none;
  cursor: pointer;
}
  .projectImage {
    border-radius: 2px;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    /* object-fit: cover; */
    margin: 0 auto;
    float: left;
    /* padding: 10px; */
    
  }
/* Style div elements that have class equal to tag */
i{
  font-size: 8px;
}
.projectDesc{
  font-size: 3px;
  /* padding: 2px; */
  margin: 2px;
}
.projectLinks{
  cursor: pointer;
}
.sideBySide{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding: 8px;
}
.tag {
  width: 145px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 1px;
  height: .7em;
  }
  .left-arrow, .right-arrow{
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    z-index: 3;
  }
  .right-arrow{
    right: 2px;
  }
  /* Style button element */
  button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;
    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  #contactButton{
    width: 30px;
    height: 10px;
    font-size: 3px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 50px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 2px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .8;
  }

/* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}
.card:hover{
    box-shadow: 5px 5px 5px #0c0c0c99;
}
#typewriter{
  display: flex;
  min-width: 25em;
  max-width: 25em;
    font-family: 'fantasy';
    overflow: hidden;
    padding: 3px;
    /* font-size: 50px; */
    /* text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000; */
    color: #d9d76f;
    opacity: 0.5;
    text-shadow:  rgba(169, 167, 167, 0.736) 0 0 2px, rgba(202, 200, 200, 0.379) 0 0 5px, rgba(255, 255, 255, 0.215) 0 0 10px;
}

.aboutMeImgs{
  filter: brightness(60%);
  width: 7.2em;
  height: 7.3em;
  z-index: -1;
}
